body {
    background-color: rgb(70, 142, 236);
    font: bolder 20pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.333);
}

div {
    text-align: center;
    margin: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    max-width: 100%;
    display: block;
}

div#foto {
    max-width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    
}




/*IMGAEM REDONDA CLIP PATH



img {
    max-width: 100%;
    display: block;
}

#foto {
    clip-path: circle(50% at 50% 50%);
}

